.SandWitchMenu{
    height: 92vh;
    width:20%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
}

.emptyDiv{
    width: 20%;
}

.feed{
    display:flex
}

.videoFeed{
    width: 80%;
    min-height: 92vh;
    border: 1px solid salmon;
    max-height: 100%;
}