.SandWitchMenu{
    height: 92vh;
    width:20%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
}

.emptyDiv{
    width: 20%;
}

.feed{
    display:flex;
}

.videoFeed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 92vh;
    border: 1px solid salmon;
    max-height: 100%;
}
.CardLContainerOuter{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid seagreen;
    width:98%;
    min-height:90vh;
    max-height: 98%;
  }