/* *{
    box-sizing: border-box;
}

.Modal-Container{
    margin: 0;
    padding: 0;
    position: fixed;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    background-color: rgba(0, 255, 255,0.5);
}

.Modal{
    margin: 0;
    padding: 0;
    position: fixed;
} */

.Modal {
    position: absolute;
    top:50%;
    left:75%;
    transform: translate(-50%,-50%);
    background-color: #ffefd5;
    width:25vw;
    height: 25vh;
    /* transform: translate(-50%,-50%); */
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 255, 132, 0.3);
  }